@font-face {
    font-family: "IntegralsUp";
    src: url("../fonts/STIXIntegralsUpD-Bold.otf");
}

@font-face {
    font-family: "SizeOneSym";
    src: url("../fonts/STIXSizeOneSym-Regular.otf");
}@font-face{font-family:"avnCalibri"; src: url("../fonts/calibri.ttf");}
@font-face{font-family:"avnWingdings"; src: url("../fonts/wingding.ttf");}
